/* Designed and Developed by Aiden Johnson | TGM.One */
section.club-officers {
  margin-top: 2em;
  padding: 2em 0;
}  
h4.section-title {
  font-size: 1.8em !important;
  color: 8594C0;
  text-align: center;
  margin-bottom: 1em;
}
.club-officers .row.officers {
  background-color: #00000087; 
  border-radius: 5px;
  border: 2px solid #0761c2;
  padding: 2em;
  position: relative;
}
.officer-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 1100px;
  margin: 0 auto;
}
.officer-cont h4 {
  margin-bottom: 0;
  color: #8594C0;
}
.officer-cont .officer {
  flex: 1 1 calc(30% - 16px);
  padding: 1em;
  text-align: center;
}
.officer-cont .officer img {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  border: 5px solid #0761c2;
}
.officer-cont .officer h5 {
  color: #8594C0;
  font-size: 1.3em;
  letter-spacing: 2px;
  margin-bottom: 0;
}
.officer-cont .officer p {
  color: #ffffff;
  font-size: 1.2em;
}
.captains-section {
  margin-top: 2em;
}
.year-selector {
  color: #8594C0;
  position: absolute;
  font-size: 1em;
  font-weight: 700;
  word-spacing: 15px;
  letter-spacing: 3px;
  top: 10px;
}
#prev-year {
  left: 10px;
  padding-left: 20px;
}
#prev-year::before {
  content: "\f341";
  font-family: "dashicons";
  position: absolute;
  margin-left: -20px;
}
#next-year {
  right: 10px;
  padding-right: 20px;
}
#next-year::after {
  content: "\f345";
  font-family: "dashicons";
  position: absolute;
  margin-right: -20px;
}
@media (max-width: 768px) {
  .officer-cont .officer {
    flex: 1 1 calc(50% - 16px);
  }
  .featured-section p {
    font-size: 1.2em;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .officer-cont .officer {
    flex: 1 1 calc(100% - 16px);
  }
}