/*Designed and Developed by Aiden Johnson | TGM.One*/
.calendar-container .row {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .calendar-container .daily-view {
    background-color: #00458d;
    border-radius: 10px;
    width: 45%;
    height: 100%;
  }
  .calendar-container .daily-view .day-header {
    background-color: #00053e;
    border-radius: 10px 10px 0 0;
    padding: 15px;
    text-align: center;
  }
  .calendar-container .daily-view .day-header h2 {
    font-size: 24px;
    font-weight: 900;
    color: white;
  }
  .calendar-container .daily-view .day-events {
    padding:15px;
    color: white;
  }
  .calendar-container .daily-view .day-events h3 {
    font-size: 20px;
    font-weight: 900;
    color: white;
  }
  .calendar-container .daily-view .day-events a {
    color: white;
  }
  
  .calendar-container .monthly-view {
    background-color: white;
    border-radius: 10px;
    width: 40%;
    padding: 0 15px;
  }
  .calendar-container .monthly-view select {
    display: none!important;
  }
  .calendar-container .monthly-view .ics-calendar-label {
    text-align: center;
    font-size: 24px;
    color: #00053e;
    font-weight: 900;
  }
  .calendar-container .monthly-view .ics-label-button {
    font-size: 32px;
    cursor: pointer;
    transform: translate(-10px, -4px);
    margin-left: 5px;
  }
  .ics-label-container {
    display: flex;
    justify-content: center;
  }
  
  .calendar-container .no_events {
    text-align: center;
    font-size: 24px;
    color: #00053e;
  }
  .ics-calendar .active .day {
    background: #00448d8b;
  }
  
  @media (max-width: 990px) {
    .calendar-container .row {
      display: block;
    }
    .calendar-container .daily-view,
    .calendar-container .monthly-view {
      width: 90%;
      margin: 0 auto;
      padding:15px;
    }
    .calendar-container .daily-view {
      display:none;
    }
    .calendar-container .row {
      left: none!important;
      transform: 0!important;
      transform: translateX(-47%);
    }
  }