/* Designed and Developed by Aiden Johnson | TGM.One */
.top-about {
  padding: 50px;
  clip-path: polygon(
    0% 0%, 0% 100%, 
    28% 100%, 28% 96%, 38% 97%, 38% 100%, 
    48% 100%, 48% 95%, 58% 96%, 58% 100%, 
    68% 100%, 68% 97%, 78% 98%, 78% 100%, 
    88% 100%, 88% 96%, 96% 97%, 96% 100%, 
    100% 100%, 100% 3%, 90% 4%, 90% 0%, 
    60% 0%, 60% 3%, 50% 4%, 50% 0%, 
    40% 0%, 40% 5%, 30% 4%, 30% 0%, 
    20% 0%, 20% 3%, 10% 4%, 10% 0%
  );
  max-width: 1600px;
  min-height: 400px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 2em;
  background-color: #00000087;
  position: relative;
}
.top-about::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: inherit;
  background: linear-gradient(to bottom, #00458d, #00053e);
  z-index: -2;
  box-shadow: 0 0 10px rgba(0, 69, 141, 0.5), 0 0 20px rgba(0, 69, 141, 0.4);
  animation: border-fade 2s infinite ease-in-out;
}
.top-about::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  clip-path: inherit;
  background-color: #00000087;
  z-index: -1;
}
@keyframes border-fade {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}

.top-about h2, .what-we-do h2 {
  color: #AEB6D5;
  font-size: 3em;
  font-weight: 700;
  word-spacing: 15px;
  letter-spacing: 3px;
  margin-bottom: 1em;
  text-align: center;
}
.top-about p {
  color: #ffffff;
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: 1em;
}
.top-about .discord-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #00458d;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  border-radius: 50px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.top-about .discord-btn img {
  height: 20%;
  margin-right: 10px;
}

.top-about .discord-btn:hover {
  background-color: #00053e;
}
.top-about img {
  max-height: 400px;
  float: right;
}

section.what-we-do, section.home-calandar {
  margin-top: 5em;
}
.what-we-do .img-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000000;
  padding: 25px;
  flex-direction: column;
}
.what-we-do .img-container img {
  margin-bottom: 1em;
}

.dropdown-menu-hamburger.active h3 {
  color: white;
}
.dropdown-menu-hamburger.active .menu-content {
  display: block;
}
.dropdown-menu-hamburger.active {
  background-color: #00053e;
}

.dropdown-menu-hamburger.active .menu-content {
  display: block;
  margin: -10px;
  margin-top: 10px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #00458d;
  color: white;
}

.dropdown-menu-hamburger {
  background-color: #00053e;
  border-radius: 10px;
  margin-bottom: 3em;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.dropdown-menu-hamburger h3 {
  color: #ffffff;
}
.dropdown-menu-hamburger .menu-content {
  display: none;
}

@media (max-width: 990px) {
  .dropdown-menu-hamburger {
    margin-bottom: 1.5em;
  }
  section.what-we-do, section.home-calandar {
    margin-top: 2em;
  }
  .top-about h2, .what-we-do h2 {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: .5em;
  }
  .top-about p {
    font-size: 1.2em;
    text-align: center;
  }
  .top-about .discord-btn {
    padding: 5px 10px;
    font-size: 14px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14em;
  }
  .top-about .featured-image {
    display: none;
  }
  .top-about {
    padding-bottom: 7em;
  }
}