/*Designed and Developed by Aiden Johnson | TGM.One*/
.socials-discord h2.section-title {
    margin-bottom: 0;
}
.discord-cont, .socials-cont, .calendar-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 1100px;
    margin: 0 auto;
}
a.btn.discord-btn {
    flex: 1 1 calc(40%);
    width: 100%;
}
.discord-btn img {
    width: 100%;
}
.discord-cont p {
    margin-right: 0px;
    margin-left: 4em;
    border-radius: 20px;
    background-color: #00000087;
    padding: 20px;
    color: #9AA5CB;
    border: 1px solid #00458d ;
}

.socials-cont {
    gap: 5em;
}
a.social {
    display: inline-flex;
    border-radius: 20px;
    background-color: #00000087;
    color: #9AA5CB;
    border: 1px solid #00458d;
    width: 250px;
    height: 100px;
}
.social p {
    margin: auto auto;
    text-align: center;
}

section.calendar,section.past-events {
    margin-top: 4em;
}
.calendar-cont {
    gap: 32px;
    flex-wrap: wrap;
}
.calendar-event {
    flex: 1 1 calc(30% - 32px);
    padding: 1em;
    border-radius: 20px;
    text-align: center;
    height: 250px;
    background-size: cover !important;
    background-position: center !important;
    position: relative;
}
.calendar-event p {
    padding-top: 20px;
    margin-bottom: 0px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 10px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 1%,rgba(0, 0, 0, 0.9) 20%, rgba(0, 0, 0, 1) 100%);
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    color: white;
}
.calendar-event-gbm {
    background: url('/wp-content/uploads/2024/08/gbm.png');
    flex: 1 1 calc(64% - 32px);
}
.calendar-event-social {
    background: url('/wp-content/uploads/2025/08/gbm_sdr_photo.jpg');
}
.calendar-event-red {
    background: url('/wp-content/uploads/2025/08/lockpicking_working_gbm.jpg');
}
.calendar-event-blue {
    background: url('/wp-content/uploads/2025/08/ccdc_working_2025.jpg');
}
.calendar-event-comp {
    background: url('/wp-content/uploads/2024/08/competitions.png');
}

@media (max-width: 990px) {
    .discord-cont p {
        margin-left: 0px;
        margin-top: 1em;
    }
    .socials-cont {
        gap: 1em;
    }
    .calendar-event {
        flex: 1 1 calc(100% - 32px);
    }
    .calendar-event-gbm {
        flex: 1 1 calc(100% - 32px);
    }
    h2.section-title {
        font-size: 2em;
    }
    a.social {
        height: 75px;
    }
    .social p {
        line-height: 1.2em;
    }
    .social img {
        max-width: 50px;
        margin: auto 0;
        max-height: 50px;
    }
    section.socials-discord {
        margin-bottom: 4em;
    }
    .discord-cont {
        flex-direction: column;
    }
    .discord-cont {
        flex-direction: column;
    }
    .discord-btn img {
        width: 100%;
        max-height: 100px;
    }
}